* {
  box-sizing: border-box;
}

.container {
  width: 65vw;
  height: 40vh;

  border: 1px solid black;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-image: radial-gradient(rgb(3, 3, 3), rgb(182, 182, 182));
}

.heart {
  width: 200px;
  height: 200px;

  border: 5px solid rgb(21, 8, 70);
  border-radius: 40% 40% 0 0;
}

.hs1 {
  background-image: url(pic/hs1.jpg);
  background-size: cover;
  background-position: 58% 50%;
}

.hs2 {
  background-image: url(pic/hs2.jpg);
  background-size: cover;
  background-position: 50% 30%;
}

.hs1,
.hs2 {
  filter: drop-shadow(0 20px 20px white);
  transition: transform 2s ease;
}

.hs1:hover,
.hs2:hover {
  transform: scale(1.2);
  /* transform: skew(40deg, 10deg);
  transform: rotateY(360deg); */
  transform: rotate3d(0, 1, 1, 360deg);
}
