.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__text {
    width: 467px;

    p {
        line-height: 1.687;
        margin-bottom: 1em;
    }
}

.header__title {
    font-weight: 700;
    font-size: 54px;
    line-height: 1.46;
    letter-spacing: 0.8px;
    margin-bottom: 25px;
    
    position: relative;
    z-index: 10;
    margin-right: -160px;
}

.header__img img {
    border-radius: 40px 40px 40px 0;
}

.header__form {
    margin-top: 42px;
}