.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  font-size: 24px;
  font-weight: 900;
  color: #fff;
  background-color: transparent;

  width: 275px;
  height: 66px;

  border: 1px solid #f4fa1a;
  border-radius: 15px;

  transition: background-color 0.2s ease-in, color 0.2s ease-in;

  &__svg {
    width: 27px;
    height: 27px;
    fill: white;
    transition: fill 0.2s ease-in;
    transform: translate(0%, 10%);
  }
}

.button.button_reverse {
  background-color: rgba($accent-color, $alpha: 0.8);

  color: black;

  & .button__svg {
    fill: black;
  }
}

.button:hover {
  background-color: rgba($accent-color, $alpha: 0.8);
  color: black;

  .button__svg {
    fill: black;
  }

  &.button_reverse {
    background-color: transparent;
    color: white;

    .button__svg {
      fill: white;
    }
  }
}

.button_big-font {
  font-size: 36px;
  font-weight: 900;
}

.button__svg_big {
  width: 70px;
  height: auto;
}
