.contact-me {
  padding-top: 60px;
  padding-bottom: 300px;

  &__title {
    margin-bottom: 60px;
  }

  &__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
