.skillsbox {
  max-width: 620px;

  &__text {
    font-size: 20px;
    font-weight: 500;
  }

  &__item {
    position: relative;
    margin-bottom: 20px;
  }

  &__progress {
    width: 570px;
    height: 9px;

    &::-webkit-progress-value {
      background-color: yellow;
    }

    &::-webkit-progress-bar {
      background-color: #bbb;
    }
  }

  &__number {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    font-weight: 400;
  }
}

.skillsbox__list {
}
.skillsbox__item {
}
.skillsbox__text {
}
.skillsbox__progress {
}
.skillsbox__number {
}
