.presentation {
  display: flex;
  align-items: center;

  min-height: 550px;

  &__suptitle {
    font-size: 24px;
  }

  &__title {
    font-size: 96px;
    font-weight: 800;
    line-height: 1;
  }

  &__subtitle {
    font-size: 36px;
    margin-bottom: 23px;
  }

  &__img {
    align-self: flex-end;
    right: 50px;
    width: 500px;

    filter: drop-shadow(23px 9px 12px black);
  }
}
